h1 {color: #369; font-family: Arial, Helvetica, sans-serif; font-size: 250%;}
h2 { color: #369; font-family: Arial, Helvetica, sans-serif;  }
h3 { color: #444; font-weight: lighter; }
body { margin: 2em; }
body, input[text], button { color: #888; font-family: Cambria, Georgia; }
button {padding: 0.2em; font-size: 14px}

ul {list-style-type: none; margin-left: 1em; padding: 0; width: 20em;}

li { cursor: pointer; position: relative; left: 0; transition: all 0.2s ease; }
li.store:hover {color: #369; background-color: #e1eef2 !important; left: .2em;}

a {padding: 5px; text-decoration: none; font-family: Arial, Helvetica, sans-serif; }
a:visited, a:link {color: #444;}
a:hover {color: white; background-color: #1171a3; }
a.router-link-active {color: white; background-color: #52b9e9; }

.selected { background-color: #EEE; color: #369; }

.badge {
  font-size: small;
  color: white;
  padding: 0.1em 0.7em;
  background-color: #369;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -1px;
}

crisis-detail input {
  width: 20em;
}

.commod-input {
  font-size: 24px;
}
.commod-textarea, .commod-input {
  background-color: transparent;
  border: 0px;
  cursor: pointer;
  width: 100%;
}
td .close {
  font-size: 34px;
  float: left;
}
.close {
  font-size: 34px;
}
.commod-list {
  font-weight: bold;
  color: #18d;
  font-size: 16px;
}
.commod-list:hover {
  color: #1171a3;
}
.simple-text {
  color: #89a;
}
div.list-group a{
  position: relative;
}

 ul[dnd-list],
 ul[dnd-list] > li {
	position: relative;
}

 ul[dnd-list] {
    min-height: 42px;
    padding-left: 0px;
}

 ul[dnd-list] .dndDraggingSource {
    display: none;
}

 ul[dnd-list] .dndPlaceholder {
    display: block;
    background-color: #ddd;
    min-height: 42px;
}

 ul[dnd-list] li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
}

 ul[dnd-list] li.selected {
    background-color: #dff0d8;
    color: #3c763d;
}

#myMap {
  height: 300px;
}
.glyphicon-pencil {
  color: #aaa;
}
.glyphicon-pencil:hover {
  color: #555;
}
.sort-items {
  font-size: 16px;
  cursor: pointer;
}
.sort-items span{
  font-size: 12px;
}
.header-search-block {
  font-size: 19px;
  font-weight: bold;
  color: steelblue;
}
.title {
  cursor: pointer;
}
.ymaps-map {
  border: 1px solid #ccc !important;
  border-radius: 4px;
}