<div class="container">
    <div class="list-group col-sm-offset-2 col-sm-5">
        <a ng-repeat="crisis in $ctrl.crises" ng-click="$ctrl.onSelect(crisis)" ng-class="{ selected: $ctrl.isSelected(crisis) }"
            href="#" class="list-group-item">
            <span class="badge pull-left">{{crisis.id}}</span>
            <div>
                <button ng-click="$ctrl.onDelete(crisis)" type="button" class="close" aria-hidden="true">&times;</button>
                <h1 class="text-center">{{crisis.name}}</h1>
                <div class="simple-text">
                    <p class="text-left">Адрес: {{crisis.adress}}</p>
                    <p class="text-left">Режим работы: {{crisis.operation}}</p>
                </div>
                <p class="text-right">
                    <span class="commod-list" ng-click="$ctrl.gotoItems(crisis)">Список товаров</span>
                </p>
            </div>
        </a>
    </div>
    <div class="col-sm-5">
        <form class="form-horizontal" role="form">
            <div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <input ng-model="$ctrl.storeName" type="text" class="form-control" placeholder="Имя">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <input ng-model="$ctrl.storeAdress" type="text" class="form-control" placeholder="Адрес">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <input ng-model="$ctrl.storeModeOreration" type="text" class="form-control" placeholder="Режим работы">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button ng-click="$ctrl.onAdd()" type="button" class="btn btn-primary">Добавить</button>
            </div>
        </form>
    </div>
</div>