<div class="container">
    <ul class="col-sm-offset-1 col-sm-5" dnd-list="$ctrl.stores">
        <li ng-repeat="store in $ctrl.stores" dnd-draggable="store" dnd-moved="$ctrl.stores.splice($index, 1)" dnd-effect-allowed="move"
            dnd-selected="$ctrl.selected = store" ng-class="{ selected: $ctrl.selected === store}" dnd-dragend="$ctrl.sortOrder()"
            href="#" ng-click="$ctrl.onSelect(store)" ng-mouseenter="$ctrl.onStoreEnter(store)" ng-mouseleave="$ctrl.onStoreLeave(store)">
            <span class="badge pull-left">{{store.order}}</span>
            <div>
                <button ng-click="$ctrl.onDelete(store)" type="button" class="close" aria-hidden="true">&times;</button>
                <h1 class="text-center">{{store.name}}</h1>
                <div class="simple-text">
                    <p class="text-left">Адрес: {{store.adress}}</p>
                    <p class="text-left">Режим работы: {{store.operation}}</p>
                </div>
                <p class="text-right">
                    <span class="commod-list" ng-click="$ctrl.gotoItems(store)">Список товаров</span>
                </p>
            </div>
        </li>
    </ul>
    <div class="col-sm-6">
        <form ng-submit="$ctrl.onAdd()" class="form-horizontal" role="form">
            <div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <input ng-model="$ctrl.storeName" type="text" class="form-control" placeholder="Название" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <input ng-model="$ctrl.storeAdress" type="text" class="form-control" placeholder="Адрес (Город, улица, дом)" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <input ng-model="$ctrl.storeModeOreration" type="text" class="form-control" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]-([01]?[0-9]|2[0-3]):[0-5][0-9]"
                            placeholder="Режим работы (00:00-00:00)" required>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-9">
                    <button type="submit" type="button" class="btn btn-primary">Добавить</button>
                </div>
            </div>
        </form>
        <!-- Область показа карты -->
        <div class="col-sm-12" id="myMap"></div>
    </div>
</div>